# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Build
dist/
client/dist/
dist-ssr/

# Local database storage & logs
server/data/db/
server/data/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
server/.env.local
server/.env.*.local
.env.local

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
